
:root{
  --MainColor:#1d2666;
  --SubColor:#fcfdf9;
  --secondColor:#bc3638;
}

/* Top Bar */
.Nav1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--MainColor);
  color: var(--SubColor);
  align-items: center;
}
.Nav1 h1 {
     margin: 0; 
     font-size: 1.2rem; 
     font-weight: 800;
     }
.NavContact { 
    display: flex;
    gap: 2rem;
    align-items: center;
     }
.NavContact a {
     color: white;
    text-decoration: none;
    display:flex;
     gap:0.5rem;
      align-items:center;
       font-weight:600;
       font-size: 1.2rem;
 }
.icon { font-size: 1.05rem; }




@media (max-width: 479px) {
  .Nav1{
    display: none;
  }
  .Nav2{
    padding: 2rem;
  }
  .MenuIcon .Icon{
    font-size: 2rem;
  }


}

@media (min-width: 480px) and (max-width: 767px) {

}

