.scrollToTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;         
  background-color:var(--MainColor);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scrollToTopBtn:hover {
  background-color: #555;
}

